# Default ignored files
/shelf/
/workspace.xml
/deploymentTargetDropDown.xml
/render.experimental.xml
/codeStyles/Project.xml
/codeStyles/codeStyleConfig.xml
/sonarlint/
/androidTestResultsUserPreferences.xml
